version: 1.0.{build}-{branch}
branches:
  only:
    - master
skip_tags: true
max_jobs: 1
init:
  - git config --global core.autocrlf true
#------ tests configuration ------#
environment:
  matrix:
    - nodejs_version: '8'
      configuration: publish
    - nodejs_version: '6'
install:
  - npm install
test_script:
  - npm test
build: off
#---- deployment configuration ----#
deploy_script:
  - ps: |
      if ($ENV:CONFIGURATION -eq "publish")
      {
        "//registry.npmjs.org/:_authToken=$env:npm_token`n" | out-file "$env:userprofile\.npmrc" -Encoding ASCII
        iex "npm pack"
        iex "npm publish"
      }
    on:
      branch: master
